[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
#bind-address = 127.0.0.1
#port = 3306
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# MAOX CONF
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 4
log-slow-queries=/var/log/mysql-slow-queries.log
log-warnings
#log=/var/log/mysqld.log
skip-name-resolve

# Modifiche in seguito a mysqltuner
query_cache_size = 32M
tmp_table_size = 512M
#tmpdir = /mysql_ramfs
max_heap_table_size = 256M
thread_cache_size = 5
#table_cache = 256
table_open_cache = 768
#innodb_buffer_pool_size = 64M
# 2015.11.20 key_buffer_size = 256M
key_buffer_size = 128M

max_allowed_packet = 1024M
#max_connections = 250
max_connections = 500

#wait_timeout = 2880
#interactive_timeout = 2880
wait_timeout = 120
interactive_timeout = 120
query_cache_type = 1

query_cache_limit = 16M
#low_priority_updates=1
## /MAOX


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
# MAOX CONF
skip-name-resolve
#/MAOX

## MAOX CONF
[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock

#/MAOX
